<%- include("templates/header", {active: ""}) %>
    <p>Oops! This page doesn't exist.</p>
    <button class="btn btn-primary" onclick="window.location.replace('/')">Go to Main Page</button>
<%- include("templates/footer") %>