<%- include("templates/header") %>
<p id="name">Hello, <%=name%>!</p>
<img id="image" src="a" height="500px">
<br>
<button onclick="window.location.replace('/logout')">Sign Out</button>
<%- include("templates/footer") %>