<%- include("templates/header", {active: "login"}) %>
<p>Log In</p>
<!--Form taken directly from COMP2537 example-->
<form action="/loginUser" method="post">
    <input name="email" type="text" placeholder="email"><br>
    <input name="password" type="password" placeholder="password"><br><br>
    <button class="btn btn-success">Submit</button>
</form>
<br>
<button class="btn btn-primary" onclick="window.location.replace('/signup')">Sign Up Instead</button>
<% if(error) { %>
<br><br>
<p id="error"><%=error%></p>
<% } %>
<%- include("templates/footer") %>