<%- include("templates/header", {active: "home"}) %>
    <p id="welcome">Hello!
        <% if(auth != "None") { %> 
            You're authenticated.
        <% } %>
    </p>
    <button id="firstButton" class="btn btn-primary"
    <% if(auth != "None") { %>
        onclick="window.location.replace('/members')"
    <% } else { %>
        onclick="window.location.replace('/signup')"
    <% } %>
    >
        <% if(auth != "None") { %>
            Go To Members Page
        <% } else { %>
            Sign Up
        <% } %>
    </button>
    <button id="secondButton" class="btn btn-primary"
    <% if(auth != "None") { %>
        onclick="window.location.replace('/logout')"
    <% } else { %>
        onclick="window.location.replace('/login')"
    <% } %>
    >
        <% if(auth != "None") { %>
            Log Out
        <% } else { %>
            Log In
        <% } %>
</button>
<%- include("templates/footer") %>