<%- include("templates/header", {active: "members"}) %>
<div id="container">
    <!-- Display user's name -->
    <p id="name">Hello, <%=name%>!</p>
    <div class="row">
        <div class="col-sm">
            <img id="first_img" height="400px">
        </div>
        <div class="col-sm">
            <img id="second_img" height="400px">
        </div>
        <div class="col-sm">
            <img id="third_img" height="400px">
        </div>
    </div>
    <br>
    <!-- Display logout button-->
    <button class="btn btn-primary" onclick="window.location.replace('/logout')">Log Out</button>
</div>
<%- include("templates/footer") %>