<%- include("templates/header") %>
<p id="name">Hello, <%=name%>!</p>
<img src="img/donqui.jpg" height="300px">
<img src="img/honglu.jpg" height="300px">
<img src="img/ryoshu.jpg" height="300px">
<br>
<button onclick="window.location.replace('/logout')">Sign Out</button>
<%- include("templates/footer") %>